<h1>Airport overview</h1>

<button data-toggle="modal" class="btn btn-primary" data-target="#addAirportModal">+ Add Airport</button>

<table id="airportTable" class="display">
    <thead>
        <th></th>
        <th>Name</th>
        <th>City</th>
        <th>x</th>
        <th>y</th>
    </thead>
    <tbody>

    </tbody>
</table>

<!-- Modal -->
<div id="addAirportModal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="addAirportModalContent">
            <!--Content will be loaded here-->
        </div>

    </div>
</div>

<!-- Modal -->
<div id="moveAirplaneModal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        </div>

    </div>
</div>

<script src="js/airportOverview.js"></script>
<link rel="stylesheet" href="css/airport.css">