<link rel="stylesheet" href="css/visualAirplane.css">
<script src="js/visualAirplaneView.js"></script>

<div id="visualAirplaneView">

</div>


<!-- Modal -->
<div id="airportPopup" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="airportPopupModalBody">

            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="airportVisualAddPopup" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="airportVisualAddPopupModalBody">

        </div>

    </div>
</div>
