
#visualAirplaneView{
    margin:auto;
    width:1024px;
    height:768px;
    background-color: lightgrey;
    position: relative;
    background-image:url("../img/nederland.jpg");
    cursor:pointer;
}
.airportItem, travelling-plane{
    position:absolute;
}
.travelling-plane{
    color:red;
    font-weight:bold;
    font-size:32px;
}