
#visualAirplaneView{
    margin:auto;
    width:1024px;
    height:768px;
    position: relative;
    background-image:url("../img/nederland.jpg");
}
#visualAirplaneView > canvas {
    width:100%;
    height:100%;
}
#visualAirplaneView > .airports {
    top:0px;
    left:0px;
    position:absolute;
    width:100%;
}
.airportItem, travelling-plane{
    position:absolute;
}
.travelling-plane{
    color:red;
    font-weight:bold;
    font-size:32px;
}