<div class="container">
    <h1>Add airport</h1>
    <form data-toggle="validator" role="form" id="addAirportForm">
        <div class="row form-group">
            <label for="airportName">Airport name</label>
            <input type="text" class="form-control" id="airportName" name="roomNumber" placeholder="Airport name" required>
        </div>

        <div class="row form-group">
            <label for="airportCity">Airport city</label>
            <input type="text" class="form-control" id="airportCity" name="roomNumber" placeholder="Airport city" required>
        </div>

        <div class="row form-group">
            <input id="submitButton" class="btn btn-default" type="submit" value="Add Airport">
        </div>
    </form>
</div>

<!--Import the corresponding js-->
<script src="js/addAirport.js"></script>