
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Select plane</h4>
</div>
<div class="modal-body">

    <input type="hidden" id="movePlaneId">
    <div class="row form-group">
        <label for="airportLocation">Airport location</label>
        <select class="form-control" id="airportLocation" required>
        </select>
    </div>

    <div class="row form-group">
        <input id="submitButton" class="btn btn-default" type="submit" value="Update">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>